.btn{
    font-size: 20px;
    background-color: cornflowerblue;
    // background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
border: none;
width: 130px;
border-radius: 8px;
// margin-left: 1rem;
color:white;
cursor: pointer;
padding: .5rem;
margin-top: 2rem;

}

h4{
    margin-top: 1rem;
    color: white;
}
h1{
    color: white;
        margin-bottom: 1rem;
}
.a-tag  {
    color: white !important; 
}

.about__info{

//    @media screen and () {
    
//    } 
}

// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

// .App {
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     font-family: "Nunito", sans-serif;
// }

// .App .openModalBtn {
//     width: 200px;
//     height: 40px;
//     border: none;
//     border-radius: 6px;
//     background-color: cornflowerblue;
//     color: white;
//     cursor: pointer;
// }

// body {
//     padding: 0;
//     margin: 0;
// }
 @media screen and (max-width:500px) {

    // .about__info {
    //    width: 100px;
    //     }
// h4{
//     display: block;
// }
h4{
    width: 150px;
}
.btn{
    // margin-right: 5rem !important;
    // margin-left: 0rem;
}

 }
 a{
  
                color: white !important;
       
 }

 .text__center{
align-items: center;
 }



 .text__heading{
    text-align: center;
 }

 @media screen and (min-width:1200px) {
    .btn {
         margin-left: 2rem;
        }
    
 }